.ok {
    color: chocolate;
}

 #text-in-p{  /*when work with id use # */
    color: rgb(111, 188, 203);
}

div p b, div i { /* to show that i need b in div, not all b in file */
    color: rgb(203, 91, 91);
}

/* div, .ok, #id, div p {} */

.main-link {
    color: crimson;
    text-decoration: none;
}

.main-link:hover {
    color: cadetblue;
    text-decoration: overline ;
    text-decoration-color: blueviolet;
    cursor:pointer
}

p:hover{
    color: cadetblue;
    text-decoration: overline ;
    text-decoration-color: blueviolet;
}

.main-link:active{
    text-decoration: line-through;
}

.main-link:visited{
    color: gray
}

input{color:red}
input:focus {
    color:aqua
}
input:disabled{

}
p:first-of-type{
    text-decoration: line-through;
}
p.text:not(:empty){
    color: darkseagreen;
}

p.text:empty::after{
    content: attr(title);
    color: darkorange;
}

#o::after{
    content: "123";
    color: blue;
}

#first {
    /* background-color: #D39AE4;
    color: #4F4552;
    background-image: url('https://i.pinimg.com/736x/60/63/da/6063da107454d50c1d7786cc2c2bac75.jpg');
    background-repeat: no-repeat;
    background-position: center; */

    background: #4F4552 url('загрузка 6.jpg') no-repeat center center;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

#second{
    height: 2000px;
}
