.main-text {
    color: brown;
    text-align: center;
    font-size: large;
    font-style: oblique;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    word-spacing: 3.3px;
    letter-spacing: 3.3px;
    line-height: 3px;
    cursor: all-scroll;
}

#first {
    /* background-color: #D39AE4;
    color: #4F4552;
    background-image: url('https://i.pinimg.com/736x/60/63/da/6063da107454d50c1d7786cc2c2bac75.jpg');
    background-repeat: no-repeat;
    background-position: center; */

    color: #D39AE4;
    background: #4F4552 url('https://i.pinimg.com/736x/60/63/da/6063da107454d50c1d7786cc2c2bac75.jpg') no-repeat center center;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

#second{
    height: 2000px;
}
