*{
    margin: 0;
    padding: 0;
}


#some{
    background-color: aqua;
    color: #fafafa;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 20px;
}


#header , #footer {
    width: 100%;
    height: 80px;
    text-align: center;
    border-bottom: 2px solid rgb(67, 111, 253);
    background-color: rgb(255, 230, 10);
    color: cornsilk;
    line-height: 80px;
    margin-bottom: 50px;
    float: left;
}

#main{
    width: 50%;
    margin-left: 10%;
    background: #fafafa;
    border: 1px solid silver;
    padding: 20px 2.5%;
    float: left;
    position: relative;
    z-index: 1;
}

#aside{
    width: 20%;
    padding: 20px 2.5%;
    background-color: #fafafa;
    border: 1px solid silver;
    margin-left: 5%;
    float: left;
    position: relative;
    bottom: -10px;
    z-index: 0;
}

#footer {
    margin-bottom: 0;
    margin-top: 50px;
    border-bottom: 0;
    border-top: 2px solid rgb(67, 111, 253);
    float: left;
}

#nav{
    list-style: none;
    display: block;
    float: left;
    width: 50% ;
    margin-left: 25%;
    text-align: center;
    margin-bottom: 50px;
}
#nav li {
    display: inline;
    background-color: #fafafa;
    border: 2px solid rgb(67, 111, 253);
    padding: 0 20px;
    cursor: pointer;
}

#nav li:not(:last-of-type) {
    margin-right: 20px;
}

#nav li:hover {
    color: #ffffff;
    background: #000000;
    border-radius: 5px;
}